@import '../../App.scss'; 

.projects {
    position: relative;

    @include tablet {
        margin-bottom: 8rem;
    }

    h1 {
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 10rem;
        text-align: center;

        @include tablet {
            position: static;
            padding-top: 0;
            margin-bottom: 2rem;
        }
    }
}

.project {
    display: flex;

    @include tablet {
        display: block;
    }

    .project-inner {
        display: flex;

        @include tablet {
            flex-direction: column;
            background-color: #e4e4e47c;
            border-radius: .6rem;
            padding: 2rem;
        }
    }

    .project-image {
        flex: 0 0 50%;
        border-radius: 1rem;
        overflow: hidden;

        @include tablet {
            padding: 0 2rem 2rem 2rem
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .project-text {
        flex: 0 0 50%;
        padding: 8rem;
        
        @include tablet {
            padding: 0 4rem;
        }

        h2 {
            font-size: 3.4rem;
            margin-bottom: 2rem;
        }

        p {
            color: rgb(56, 55, 55);
            margin-bottom: 2rem;
        }

        a {
            font-size: 1.2rem;
            padding: 1rem 2rem;
        }

        .actions {
            display: flex;
            gap: 2rem;
        }
    }

    .project-text-ordering {
        order: -1;

        @include tablet {
            order: unset;
        }
    }

}