@import '../../App.scss';

.skills {
    display: flex;

    @include tablet {
        scroll-margin-top: 10rem;
    }

    .skills-inner {
        display: flex;
        gap: 2rem;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }

        h4 {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 3rem;
            color: #1d1d1d;
        }

        .skills-content {
            max-width: 70rem;
            flex-wrap: wrap;
            display: flex;

            @include tablet {
                justify-content: center;
            }

            figure {
                position: relative;
                width: 5rem;
                height: 5rem;
                margin: 0 4rem 6rem 4rem;
                transition: all ease .3s;

                @include mobile {
                    margin: 0 2rem 4rem 2rem;
                }

                &:hover span {
                    bottom: -2rem;
                    opacity: 1;
                }

                span {
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 50%);
                    font-size: 1.3rem;
                    text-align: center;
                    transition: all ease .8s;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .certificates {
            max-width: 30rem;

            @include tablet {
                max-width: unset;
            }

            a {
                display: flex;
                gap: 1rem;
                margin-bottom: 1rem;

                figure {
                    width: 3rem;
                    height: 3rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                span {
                    flex: 1;
                    transition: all ease .4s;

                    &:hover {
                        color: rgb(136, 134, 255);
                    }
                }
            }
        }
    }
}