.about {
    height: 100vh;
    text-align: center;
    display: flex;

    h2 {
        margin-bottom: 6rem;
    }

    .about-content {
        display: flex;
    }

    .about-text {
        font-style: italic;
        line-height: 1.8;
        letter-spacing: .1rem;
        flex: 0 0 50%;
        padding: 8rem;
    }

    .about-image {
        flex: 0 0 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

            