* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font: 600 1.6rem 'Poppins', sans-serif;
}

.shell {
  max-width: calc(113.4rem + 1.5rem * 2);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.btn {
  color: #fff;
  text-align: center;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #1744E8;
  border: .2rem solid #1744E8;
  border-radius: 4rem;
  max-width: 14rem;
  padding: 1rem 0;
  transition: color .3s, background-color 1s;

  &:hover {
    color: #1744E8;
    background: transparent;
  }
}